@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.sec {
    padding-top: 100px;
}

.container.img {
    display: block;
    width: 100%;
}

.navbar-fixed{
    height:fit-content;
}

h1 h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: medium
}

h3 {
    font-size: small
}

.bubs {
    color: black;
}

